<div class="article">
  <h3 class="article__title"><%= @article.item %></h3>
  <div class="article__content"><%= markdown(@article.content) %></div>
</div>
<a class="button"><%= link_to 'Home', :root %></a>
