// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: $font-stack;
  font-weight: 400;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 3em;
  padding: 1em 0px 0.5em;
}

h3.articles__title {
  font-size: 1.5em;
}

h3.playlist__name {
  font-size: 1.5em;
}

h3::selection {
  background: $text-color-highlight;
  text-shadow: none;
  color: $heading-text-color-light;
}

h4 {
  color: $heading-secondary-color;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  margin: 0px 0px 10px;
}

p::selection {
  background: $text-color-highlight;
  text-shadow: none;
  color: $heading-text-color-light;
}

a {
  color: $text-color-highlight;
}

.page__content {
  // padding: 0 3rem;
  // height: 80%;
  // padding-top: 3rem;
  background: $heading-color;
}

.home__header {
  background: $heading-color;
}

.home__title {
  width: 100%;
  text-align: center;
  color: $heading-text-color;
  text-decoration: none;
}

.home__title-light {
  // color: $heading-text-color-light;
  color: $heading-text-color-dark;
}

.home__title-highlight {
  color: $text-color-highlight;
}

.home__title-text {
  padding: 2rem 0 0 0;
}

.home__title-text-large {
  font-size: 25px;
}

.home__edition {
  width: 100%;
  text-align: center;
}

.home__nav {
  display: flex;
  background: $nav-color;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
}

.home__circuit-logo {
  padding: 2rem 0 0 7.7rem;
  margin: 0;
  width: 20rem;
}

.home__title-circle {
  font-family: $font--secondary-stack;
  background: $heading-text-color-light;
  border-radius: 48%;
  color: $text-color-highlight;
}

.home__footer {
  text-align: center;
  background: $heading-color;
  // color: $heading-text-color-light;
  color: $heading-text-color-dark;
  padding: 2em 0;
}

.input {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input__label {

}

.input__title {

}

.input__content {
  height: 400px;
}

.button {
  width: 20%;
  padding-left: 7.9rem;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $heading-text-color-light;
  // width: 80%;
  // margin-right: auto;
  // margin-left: auto;
}

.article-container {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  list-style: none;
  width: 90%;
  display: inline-flex;
  flex-direction: column;
}

.article__title {
  color: $text-color-highlight;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.article__content {
  height: 100%;
  // backgound-color: $heading-text-color-light;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.articles {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: hidden;
  // border-top: 2px dashed $border-color;
  & + & {
  border-top: 2px dashed $border-color;
  }
}

.articles__list {
  padding-left: 5em;
  direction: ltr;
}

.articles__title {
  color: $text-color-highlight;
}

.articles__content {
  // padding: 0;
  // margin: 0;
}

.articles__edit-button {
  padding: 0;
  margin: 0;
  height: 1rem;
  width: 1rem;
  border: none;
  background: none;
}
