// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: $font-stack;
  height: 100%;
}

body {
  height: 100%;
}

h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
}

h4 {
  color: $heading-secondary-color;
}

.home__title {
  width: 100%;
  text-align: left;
  padding-left: 5%;
  background-color: $heading-primary-background;
}

.home__edition {
  width: 100%;
  text-align: left;
  padding-left: 5%;
  background-color: $heading-secondary-background;
}


.input {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input__label {

}

.input__title {

}

.input__content {
  height: 50%;
}

.button {
  width: 20%;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article__title {

}

.article__content {

}

.articles {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: hidden;
}

.articles__title {

}

.articles__content {

}
