// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: $font-stack;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h4 {
  color: $heading-secondary-color;
}

.page__content {
  padding: 0 3rem;
  height: 80%;
  padding-top: 3rem;
}

.home__header {
  height: 10%;
}

.home__title {
  width: 100%;
  padding: 0 3rem;
  background: $heading-color;
  text-align: center;
}

.home__edition {
  width: 100%;
  text-align: center;
}

.home__nav {
  display: flex;
  background: $nav-color;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input__label {

}

.input__title {

}

.input__content {
  height: 400px;
}

.button {
  width: 20%;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article-container {
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  list-style: none;
  width: 48%;
  display: inline-flex;
  flex-direction: column;
}

.article__title {

}

.article__content {
  height: 100%;
}

.articles {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: hidden;
  // border-top: 2px dashed $border-color;
  & + & {
  border-top: 2px dashed $border-color;
  }
}

.articles__list {
  padding: 0;
}

.articles__title {

}

.articles__content {
  padding: 0;
  margin: 0;
}

.articles__edit-button {
  padding: 0;
  margin: 0;
  height: 1rem;
  width: 1rem;
  border: none;
  background: none;
}
