.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  // margin: 0;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.articles-playlists-container {
  padding-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  height:100%;
  .articles-container {
    // position: fixed;
    // top: 8rem;
    // bottom: 5rem;
    // overflow-y: scroll;
    padding-bottom: 5rem;
    width: 65%;
    left: 3rem;
    background: $heading-text-color-light;
    border-top-right-radius: 7em;
    direction: rtl;
  }
  .playlists-container {
    // position: fixed;
    // top: 8rem;
    // bottom: 5rem;
    // overflow-y: scroll;
    padding-left: 3rem;
    padding-bottom: 5rem;
    width: 25%;
    // right: 3rem;
    background: $heading-color;
  }
}

.event-menu {
  background: $event-color;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 3rem;
}

.event-container {
  display: none;
}

.calendar-details-container {
  width: 100%;
  flex-direction: row;
  margin: 2rem;
  .details-container {
    width: 70%;
    margin: 2rem;
  }
  .calendar-container {}
}

.login-container{
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
