.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.articles-playlists-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow:scroll;
  height:100%;
  .articles-container {
    width: 70%;
    margin: 2rem;
  }

  .playlists-container {
    width: 30%;
    margin: 2rem;
  }
}

.calendar-details-container {
  width: 100%;
  flex-direction: row;
  margin: 2rem;
  .details-container {
    width: 70%;
    margin: 2rem;
  }
  .calendar-container {}
}
