// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist__iframe {
  width: 100%;
}

.playlist_container {
  list-style: none;
  padding-bottom: 2rem;
}
.playlists__edit-button {
  padding: 0;
  margin: 0;
  height: 1rem;
  width: 1rem;
  border: none;
  background: none;
}

.playlist__name {
  font-family: "Josefin Slab", serif;
  font-weight: 600;

}

.playlist__author {
  font-family: "Open Sans", sans-serif;
  color: $heading-secondary-color;
  font-weight: 300;
}
