$font-stack: 'BenchNine', sans-serif;
$heading-primary-background: #f3d01c;
$heading-secondary-background: #fdf812;
$heading-primary-color: #444;
$heading-secondary-color: #888;
$content-primary-background: #333;
