<h1>Editing Playlist</h1>

<%= render 'form' %>

<% if current_user && current_user.is_admin %>
  <a class="button"><%= link_to 'Delete', @playlist,  method: :delete, data: { confirm: 'Are you sure?' } %></a>
<% end %>

<%= link_to 'Back', :root %>
